@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #202124;
  --color-secondary: #5f6368;
  --color-link: #1967d2;
  --color-toggle-bar-unchecked: #bdc1c6;
  --color-toggle-button-unchecked: #ffffff;
  --color-toggle-bar-checked: rgba(28, 117, 233, 0.5);
  --color-toggle-button-checked: #1a73e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #e8eaed;
    --color-secondary: #9aa0a6;
    --color-link: #8ab4f8;
    --color-toggle-bar-unchecked: #9aa0a6;
    --color-toggle-button-unchecked: #dadce0;
    --color-toggle-bar-checked: rgb(138, 180, 248, 0.5);
    --color-toggle-button-checked: #8ab4f8;
  }
}
